{% extends 'base.html' %}

{% block content %}
<div class="container">
    <section>
        <div class="row">
            <div class="col-md-5 pr-2 offset-md-1">
                <div class="card ml-4 my-4 text-center">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th scope="row">00:00 - 01:00</th>
                            </tr>
                            <tr>
                                <th scope="row">01:00 - 02:00</th>
                            </tr>
                            <tr>
                                <th scope="row">02:00 - 03:00</th>
                            </tr>
                            <tr>
                                <th scope="row">03:00 - 04:00</th>
                            </tr>
                            <tr>
                                <th scope="row">04:00 - 05:00</th>
                            </tr>
                            <tr>
                                <th scope="row">05:00 - 06:00</th>
                            </tr>
                            <tr>
                                <th scope="row">06:00 - 07:00</th>
                            </tr>
                            <tr>
                                <th scope="row">07:00 - 08:00</th>
                            </tr>
                            <tr>
                                <th scope="row">08:00 - 09:00</th>
                            </tr>
                            <tr>
                                <th scope="row">09:00 - 10:00</th>
                            </tr>
                            <tr>
                                <th scope="row">10:00 - 11:00
                                </th>
                            <tr>
                                <th scope="row">11:00 - 12:00</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5 pl-2">
                <div class="card mr-4 my-4 text-center">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th scope="row">12:00 - 13:00</th>
                            </tr>
                            <tr>
                                <th scope="row">13:00 - 14:00</th>

                            </tr>
                            <tr>
                                <th scope="row">14:00 - 15:00</th>
                            </tr>
                            <tr>
                                <th scope="row">15:00 - 16:00</th>
                            </tr>
                            <tr>
                                <th scope="row">16:00 - 17:00</th>
                            </tr>
                            <tr>
                                <th scope="row">17:00 - 18:00</th>
                            </tr>
                            <tr>
                                <th scope="row">18:00 - 19:00</th>
                            </tr>
                            <tr>
                                <th scope="row">19:00 - 20:00</th>
                            </tr>
                            <tr>
                                <th scope="row">20:00 - 21:00</th>
                            </tr>
                            <tr>
                                <th scope="row">21:00 - 22:00</th>
                            </tr>
                            <tr>
                                <th scope="row">22:00 - 23:00</th>
                            </tr>
                            <tr>
                                <th scope="row">23:00 - 00:00</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
